    <div class="header">
        <div class="moon">
            <h1>Let me introduce myself.</h1>
        </div>
    </div>
    
    <ul class="all_list">
        <li>
            <h2 class="smt">My profile</h2>
             <p>
                
                <h4 id="name"> 국민대학교 자동차공학과 12학번 김길현</h4>
                <br><br>
                2012/03. 국민대학교 입학
                <br><br>
                2013/07 ~ 2015/03. *군생활*
                <br><br>
                2015/08 ~ 2016/05. 미국에서 개최된 자작차대회 Fomula SAE 참가
                <br><br>
                <iframe src="https://www.youtube.com/embed/hGYOJ0KXXEs" frameborder="0" allowfullscreen></iframe>
                <br><br>
                2016/07 ~ 2017/03. 싱가포르에서 개최된 Shell Eco-marathon in Asia대회 참가
                <br><br>
                <img src=https://scontent.ficn1-1.fna.fbcdn.net/v/t31.0-8/17359272_1449655865053360_2488190501115180786_o.jpg?oh=f0971f9882bbf114dda333f9fa0bde6b&oe=5994A8B1 width="700" height="400">
                <br><br>
                2017/03 ~   3학년 재학중 / 멋쟁이 사자처럼 5기 활동중!!
                
            </p>
        </li>
        
        <li>
            <h2 class="smt">Interest</h2>
            <p>
                영화 보는 걸 굉장히 좋아합니다!
                <br><br>
                최근 본 영화 목록
                <ul class="movie_list">
                    <li>Snowden</li>
                    <li>Children of Men</li>
                    <li>신비한 동물사전</li>
                    <li>라라랜드</li>
                    <li>싱글라이더</li>
                    <li>23 아이덴티티</li>
                </ul>
                좋아하는 영화
                <ul class="movie_list">    
                    <li>Italian Job</li>
                    <li>Focus</li>
                    <li>The intern</li>
                    <li>whiplash</li>
                </ul>
            </p>
        </li>
        
        <li>
            <h2 class="smt">Favorite sports</h2>
            <p>
                공으로 하는 운동이랑 스노우보드 좋아합니다!
                <br><br>
                다음에 기회되면 같이 운동하실분~! (현재 부상중이라 몇주뒤부터...)
                <br><br>
                <ul class="movie_list">    
                    <li>스노우보드</li>
                    <li>농구</li>
                    <li>당구</li>
                    <li>볼링</li>
                    <li>축구</li>
                    <li>등등...</li>
                </ul>
                
            </p>
        </li>
        
    </ul>
    
    
