.header {
    height:400px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(header3.jpeg) ;
    background-size:cover;
    text-align:center;
    padding:90px;
}
.moon{
    font-family:'Raleway', sans-serif;
    font-size:40px;
    color:#E8811A;
    
}

// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
